*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
.container{
    height: 100vh;
    background: linear-gradient(to bottom,
    #009688,
    #009688 20%,
    #d4dbd9 20%,
    #d4dbd9);
    padding-top: 5vh;
}


main{
    height: 90vh;
    background-color: #f8fafa;
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 40% 2fr;
    max-width: 1200px;
}

.padding{
    padding: 0.5rem 0.75rem;
}
sections{
    border: 1px solid #d9d9d9;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ededed;
}

nav img{
    width: 3rem;
    height: 3rem;
    border-radius: 999px;

}

menu button{
    border: none;
    background: transparent;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #666;
}

.search-container{
    background-color: #f6f6f6;
}
.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    padding: 0 2rem;
    background: white;
    border-radius: 999px;

}
.input-container span{
    color: #666;
}
input {
    border: none;
    width: 100%;
    margin-left: 1rem;

}

ul{
    list-style: none;

}
ul li{
    display: grid;
    grid-template-columns: 60px 1fr;
    background-color: white;
    border-top: 1px solid #eee;
    padding: 1rem 0.75rem;
}


li img{
    width: 3rem;
    height: 3rem;
    border-radius: 999px;

}

.name{
    display: flex;
    justify-content: space-between;
    
}
.name span{
    font-size: 1.1rem;
}

.name time{
    color: #666;
    font-size: 0.8rem;
}

.preview{
    color: #666;
    font-size-adjust:0.95rem;
    margin-top: 2px;
    
}

.chat-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.chat-container img{
    border-radius: 999px;
    height: 15rem;
    width: 15rem;
    margin-bottom: 1.5rem;
}
.chat-container h2{
    font-size: 1.5rem;
    color: #525252;
    font-weight: 200;
    margin-bottom: 1rem;
}

.container p{
    color: #555;
    text-align: center;
    max-width: 400px;
    font-size: 0.9rem;
}
.preview span {
    color: green;
}